html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** REMS reset - 62.5% = 10px de 16px */
    background-color: #131313;
    color: aliceblue;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --small-font: 1.4rem;
}

input[type=file],
input[type=button] {
    height: 3rem;
    cursor: pointer;
    font-size: var(--small-font);
}

#map { 
    margin: 2rem auto;
    width: 100rem;
    height: 80vh;
}

.leaflet-popup-content {
    font-size: var(--small-font);
}

.leaflet-tooltip-pane {
    text-align: center;
    font-size: var(--small-font);
}

.leaflet-control-layers {
    font-size: var(--small-font);
}

.actions {
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 2rem;
}